{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">    
    <title>Home</title>
</head>
<body>
    <header>
        <div class="header-container">
            <img src="{% static 'img/IIIT-Bangalore-Logo.png' %}" alt="logo" class="logo">
            <nav>
                <ul>
                    <li><a href="#">Run for Cause</a></li>
                    <li><a href="#">Map</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Signin</a></li>
                    <li><a href="#">Sign up</a></li>
                </ul>
            </nav>

        </div>
    </header>
    <hr>
    
</body>
</html>