{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>
<body >
    <div class="container">
        <div class="section">
          <p>MARATHON TIMINGS<br>4:50 pm ,Bangalore</p>
      </div> 
    <div> 
      
      <!-- <button id="toggle-button">Toggle collapse</button> -->
</body>

</html>
